<nav class ='navbar navbar-expand '>
         <a class='navbar-brand'>P.M.S</a>
         <ul class='nav nav-pills'>
           <li><a class='nav-link'[routerLink]="['/welcome']">Home</a></li>
           <li><a class='nav-link'[routerLink]="['/about']">About Us</a></li>
           <li><a class='nav-link'[routerLink]="['/products']">Product List</a></li>
           <li><a class='nav-link'[routerLink]="['/contact']">Contact</a></li>
         </ul>
       </nav>
       <div class='container'>
         <router-outlet></router-outlet>
      </div>
