<div class="card">
    <div class="card-header">
      <!-- {{pageTitle}} -->
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="/assets/images/idea.png"
               class="img-responsive center-block"
               style="max-height:200px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">About us:</div>
        <p>Here at PMS, we aim to deliver a quality product along with impeccable customer service. All of our items are hand made... in a lab... somewhere..<br>
        <br>
        This is our web portal feel, check back daily as more and more items are unearthed from our vault of the unkown.. </p>
      </div>
    </div>
  </div>